:root {
    --boobie: #800813;
    --bigger-boobie: #630000;
}

body {
    background: var(--boobie);
    margin: 0;
}

header {
    background: var(--bigger-boobie);
    text-align: center;
    padding: 2rem 1rem;
}

h1 {
    color: #ffffffc7;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

nav a {
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff6c;
}

nav a:hover {
    text-decoration: underline;
}
