body {
    margin: 0px;
}

html {
    background-color: green;
    color: white;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 25px;

    background-color: darkgreen;
}

header {
    width: 100vw;
    display: flex;
    gap: 25px;
    box-sizing: border-box;
    padding: 25px;

    background-color: darkgreen;
}

header img {
    width: 50px;
}