body {
    margin: 0;
    height: 100vh;
    background: #e6dccf;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
}

.scene {
    perspective: 1200px;
}

.book {
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
}

.cover,
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fdfaf5;
}