body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#room-view {
    position: relative;
    width: 80vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
    border: 2px solid #333;
    overflow: hidden;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

#left-arrow {
    left: 10px;
}

#right-arrow {
    right: 10px;
}

.arrow:hover {
    background-color: rgba(0,0,0,0.8)
}