:root{
    --white-text: #ffffff;
    --background-color: #007474;
    --notes-login-background: #00a4a4;
    --black: #000000 ;
}

body {
    background-color: var(--background-color);
    margin: 0%;
}

*{
    color: var(--white-text)
}

img{
    width: 200px;
    height: 200px;
}

#notesLogin{
    background-color: var(--notes-login-background);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#notesLogin input{
    color: var(--black);
}

.overlay{
    position: absolute;
    background-color: rgba(52, 52, 52, 0.3);
    width: 100%;
    height: 100%;
}