body {
    background-color: #007474;
    margin: 0;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    height: auto;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    height: auto;
    width: 100%;
}