body {
    background-color: #007474;
    margin: 0;
    padding-top: 5%;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    height: auto;
    width: 100%;
}

img {
    width: 100px;
    height: auto;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    height: auto;
    width: 100%;
}